.section_title{
    display: table;
    margin: 0 auto;
}
h1{
    position:absolute;
    width: 804px;
    height: 128px;
    left: 318px;
    top: 184px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 64px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #181818;
}
h2{
    position:absolute;
    width: 484px;
    height: 48px;
    left: 478px;
    top: 352px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #000;
}
p1{
    width: 93px;
    height: 24px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #000000;
    flex:none;
    order: 0;
    flex-grow: 0;
    border: 1px solid;
    border-radius: 5px;
}
.work, .service, .process, .me, .contacts{
    height: 24px;
    gap: 8px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    flex:none;
    flex-grow: 0;
    display: inline-flex;
    }
    .work{width: 58px; order: 0;}
    .service{width: 53px; order: 1;}
    .process{width: 68px; order: 2;}
    .me{width: 66px; order: 3;}
    .contacts{width: 73px; order: 4;}   
    .section__button_up{
        display: inline-flex;
margin: 180px 500px 60px 500px;
gap: 8px;
    }
    .Telegram{ 
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 15px 24px 17px;
        gap: 8px;
        width: 215px;
        height: 56;
        background: #181818;
        flex: none;
        order: 0;
        flex-grow: 0;
        color: #FFFF;
        border: 1px solid;
    border-radius: 5px;
        }   
    .Portfolio{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 15px 24px 17px;
        gap: 8px;
        width: 215px;
        height: 56;
        background: #FFFF;
        border: 3px solid;
    border-radius: 5px;
    color:#000000;
    }
    .section__button_down{
        display: inline-flex; margin-left: 36%; margin-bottom: -100%; margin-top: 100px;
        gap: 8px;
    }
    .all{
        flex-direction: row;
        align-items: flex-start;
        padding: 4px 16px;
        width: 62px;
        height: 32 px;
        flex:none;
        order: 0;
        flex-grow: 0;
        background: #181818;
        color: #FFFF;
        border: 1px solid;
    border-radius: 20px;
    }
    .qey{
        flex-direction: row;
        align-items: flex-start;
        padding: 4px 16px;
        width: 112px;
        height: 32 px;
        flex:none;
        order: 0;
        flex-grow: 0;
        background: #FFFF;
        border: 1px solid;
    border-radius: 20px;
    }
    .razrab{
        flex-direction: row;
        align-items: flex-start;
        padding: 4px 16px;
        width: 112px;
        height: 32 px;
        flex:none;
        order: 0;
        flex-grow: 0;
        background: #FFFF;
        border: 1px solid;
    border-radius: 20px;
    }
    .disign{
        flex-direction: row;
        align-items: flex-start;
        padding: 4px 16px;
        width: 112px;
        height: 32 px;
        flex:none;
        order: 0;
        flex-grow: 0;
        background: #FFFF;
        border: 1px solid;
    border-radius: 20px;
    }
    .section__human{
margin-left: 1200px;
    }
    .d1{
       position: absolute;
            width: 135px; 
            height: 135px;
            background: #c6c1c1;
            border-radius: 50%;
            }
.human{
    position: absolute;
    margin-top: 15px;
    margin-left: 10px;
}
.section__message{
margin-top: 353px;
margin-left: 200px;
}
.d2{
    position: absolute;
            width: 50px; 
            height: 50px;
            background: #c6c1c1;
            border-radius: 50%;
}
.message{
    position: absolute;
    margin-top: 26px;
    margin-left: 10px;
}
.section__molnia{
    margin-top: 200px;
margin-left: 1100px;
}
.d3{
    position: absolute;
    width: 65px; 
    height: 65px;
    background: #c6c1c1;
    border-radius: 50%;
}
.molnia{
position: absolute;
margin-top: 25px;
margin-left: 10px;
}
    .images{
      margin: 50px 20px;
    }
    .hamlet, .fish{
        display:block;
        margin:auto;
        box-sizing: border-box;
        width: 85%;
        height: 460px;
        border: 2px solid rgb(222, 114, 207);
        border-radius: 20px;
        flex:none;
        flex-grow: 0;
    }
    .image23, .image56{
        margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 90px;
    }
    .image2, .image3, .image5, .image6{
    display: inline;
  width: 43%;
  height: 460px;
  margin-left: 28px;
        box-sizing: border-box;
        border: 2px solid rgb(222, 114, 207);
        border-radius: 20px;
        flex:none;
        flex-grow: 0;
}
.head__me{
    position: absolute;
    width: 478px;
    height: 64px;
    left: 740px;
    top:2832px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600px;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: -0.02em;
    color: #181818;
}
.information{
    position: absolute;
    width: 484px;
    height: 168px;
    left: 740px;
    top:3000px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400px;
    font-size: 16px;
    line-height: 24px;
    color:#000;
    padding-top: 10px;
}
.imemyself{
    position: absolute;
    width: 500px;
    height: 560px;
    left: 200px;
    top:2832px;
    border: 2px solid rgb(222, 114, 207);
    border-radius: 20px;
}
.section__reward{
margin-top: 530px;
margin-left: 130px;
}
.reward{
    position: absolute;
    margin-top: 45px;
    margin-left: 29px;
}
.d4{
    position: absolute;
    width: 100px; 
    height: 100px;
    background: #c6c1c1;
    border-radius: 50%;
}
.section__statistics{
    margin-left: 720px;
}
.section_torun, .section_completed, .section_experience{
display:inline-block;
margin: 5px 14px;
}
.plus, .percent, .years{
width: 41px;
height: 24px;
font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color:#181818;
    flex: none;
    flex-grow: 0;
}
.torun, .completed, .experience{
    width: 79px;
    height: 48px;
    font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #181818;
        flex: none;
        flex-grow: 0;
}
.rectangle{
    position: absolute;
    width: 1440px;
    height: 768px;
    left: 0px;
    top: 3512px;
    background: #000;
}
.service{
    position: absolute;
    width: 156px;
    height: 64px;
    left: 612px;
    top: 3532px;
    font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 64px;
        color: #FFFF;
        letter-spacing: -0.02em;
        border: 2px;
        background-color: #000;
        padding: 30px;  
}
.section_ontilda, .section_webdesign, .section_artdirection{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
    gap: 8px;
    width: 368px;
    height: 384px;
    background: #FFFF;
    border-radius: 16px;
    flex: none;
    flex-grow: 1;
}
.section_ontilda{
    margin-top: 400px;
}
.section_webdesign{
margin-top: 400px;
margin-left: 400px;
}
.section_artdirection{
    margin-top: 400px;
    margin-left: 800px;
}
.service_buttons{
    margin-left: 130px;
}
.num1, .num2, .num3{
width: 288px;
height: 24px;
font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 24px;
        color: #181818;
        opacity: 0.5;
        flex: none;
        order:0;
        flex-grow: 0;
        float: left;
        text-align:left;
    }
.ontilda, .webdesign, .artdirection{
    width: 288px;
    height: 24px;
    font-family: 'Raleway';
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
            color: #181818;
            flex: none;
            order:0;
        flex-grow: 0;
        float: left;
        text-align:left;

}
.text1, .text2, .text3{
    width: 288px;
    height: 96px;
    font-family: 'Raleway';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #181818;
            flex: none;
        flex-grow: 0;
        float: left;
        text-align:left;

}
.line1, .line2, .line3{
    width: 80px;
    height: 1px;
    opacity: 0.2;
    border: 1px;
    color: #181818;
    flex: none;
    flex-grow: 0;
    float: left;
    text-align:left;
}
.sum1, .sum2, .sum3{
    width: 288px;
    height: 24px;
    font-family: 'Raleway';
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 24px;
            color: #181818;
            flex: none;
        flex-grow: 0;
        float: left;
        text-align:left;
        margin-top: 0px;
}
.count{
position: absolute;
width: 446px;
height: 64px;
left: 497px;
top: 4400px;
font-family: 'Raleway';
            font-style: normal;
            font-weight: 600;
            font-size: 48px;
            line-height: 64px;
            letter-spacing: -0.02em;
            color: #181818;
}
.rectangle2{
box-sizing: border-box;
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 40px 24px;
gap: 8px;
position: absolute;
width: 448px;
height: 368px;
left: 496px;
top: 4544px;
background: #FFFF;
border: 2px solid #CCCC;
border-radius: 16px;
}
.name_type_of_work{
    position: absolute;
    width: 89px;
    height: 24px;
    font-family: 'Raleway';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                color: #808080;
                flex:none;
                order:0;
                flex-grow: 0;
                margin-top: 1210px;
                margin-left: 515px;
}
.type_of_work, .size_of_project{
    position: absolute;
    box-sizing: border-box;
    width: 20px;
    height: 10px;
    border: 1px solid #000000;
}
.type_of_work{
    margin-top: 1220px;
    margin-left: 880px;
}
.size_of_project{
    margin-top: 1290px;
    margin-left: 880px;
}
.name_size_of_project{
    position: absolute;
    width: 221px;
    height: 24px;
    font-family: 'Raleway';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                color: #808080;
                flex:none;
                order:0;
                flex-grow: 0;
                margin-top: 1280px;
                margin-left: 515px;
}
.rectangle_type_of_work, .rectangle_size_of_project{
    position: absolute;
width: 400px;
height: 48px;
background: #FFFF;
border: 2px solid #CCCC;
border-radius: 8px;
}
.rectangle_type_of_work{
    margin-top: 1200px;
    margin-left: 510px;
}
.rectangle_size_of_project{
    margin-top: 1270px;
    margin-left: 510px;
}
.agree{
    position: absolute;
    width: 331px;
    height: 48px;
    font-family: 'Raleway';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: #181818;
                flex: none;
                flex-grow: 0;
                order: 1;
                margin-top: 1340px;
                margin-left: 515px;
}
.price{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 24px 17px;
    gap: 8px;
    width: 315px;
    height: 56;
    background: #FFFF;
    border: 2px solid #181818;
border-radius: 5px;
color:#000000;
margin-top: 1450px;
margin-left: 555px;
}
.medium_count{
    width: 318px;
height: 64px;
font-family: 'Raleway';
            font-style: normal;
            font-weight: 600;
            font-size: 32px;
            line-height: 64px;
            letter-spacing: -0.02em;
            color: #181818;
            margin-top: 1580px;
            margin-left: 570px;
            flex: none;
        flex-grow: 0;
        order: 0;
}
.cost, .time{
    width: 83px;
height: 24px;
font-family: 'Raleway';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #181818;
            flex: none;
        flex-grow: 0;
}
.cost{width: 83px;}
.time{width: 150px;}
.cost1, .time1{
    width: 120px;
height: 24px;
font-family: 'Raleway';
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
            color: #181818;
            flex: none;
        flex-grow: 0;

}
.section_cost{
margin-top: 40px;
margin-left: 550px;
}
.section_time{
margin-top: 30px;
margin-left: 550px;
}
.rectangle_medium_count{
    position: absolute;
box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 24px;
    gap: 24px;
    width: 400px;
height: 384px;
left: 520px;
top: 4970px;
border: 2px solid #CCCC;
border-radius: 0px 0px 16px 16px;
}
.discuss{
    display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 15px 24px 17px;
        gap: 8px;
        width: 315px;
        height: 56;
        background: #181818;
        flex: none;
        order: 0;
        flex-grow: 0;
        color: #FFFF;
        border: 1px solid;
    border-radius: 5px;
    margin-top: 40px;
    margin-left: 550px;
}
.rectangle_answer{
    width: 1440px;
    height: 768px;
    left: 0px;
    top: 5412px;
    background: #000;
}
.question{
    position: absolute;
    width: 316px;
    height: 64px;
    left: 562px;
    top: 5468px;
    font-family: 'Raleway';
            font-style: normal;
            font-weight: 600;
            font-size: 48px;
            line-height: 64px;
            letter-spacing: -0.02em;
            color:#FFFF;
            border: 2px;
        background-color: #000;
        padding: 30px;  
}
.rectangle01, .rectangle02, .rectangle03, .rectangle04, .rectangle05, .rectangle06{
    box-sizing: border-box;
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 32px 40px;
gap: 24px;
position: absolute;
width: 1160px;
height: 88px;
background: #FFFF;
border: 2px solid #CCCC;
border-radius: 16px;
}
.rectangle01{
    margin-top: 5000px;
}